.app {
  margin: 50px 20% 0 20%;
  padding: 1rem;
  border-radius: 0.44rem;
  overflow: hidden;
  background-color: #e9f3ff;
  color: #2a343f;

  .title {
    text-align: center;
    border-bottom: 1px solid #d2dcfc;
    h2 {
      margin: 0 0 1rem 0;
    }
  }

  .chart-wrapper {
    padding-top: 1.5rem;
    text-align: center;
    h3 {
      text-align: left;
    }
  }
}
